<?php
/**
 * @var $block   \GamaSoftware\Weather\Block\Weather
 * @var $weather \GamaSoftware\Weather\Api\Data\WeatherInterface
 */
$weather     = $block->getLastWeather();
$weatherData = $weather->getData();
?>
<div class="weather-container">
    <span>Aktualna prognoza pogody dla: <?= $weatherData['city'] . '[' . $weatherData['localization'] . ']' ?> pobrana <?= $weatherData['date'] ?></span><br />
    <span>Wschód słońca: <?= $weatherData['sunrise'] ?></span><br />
    <span>Zachód słońca: <?= $weatherData['sunset'] ?></span><br />
    <span>Temperatura średnia: <?= $weatherData['temp'] ?></span><br />
    <span>Temperatura minimalna: <?= $weatherData['temp_min'] ?></span><br />
    <span>Temperatura maksymalna: <?= $weatherData['temp_max'] ?></span>
</div>


